# Python
__pycache__
*.pyc
*.egg-info
dist

# Log
*.log
*.log.*
*.jsonl

# Data
!**/alpaca-data-conversation.json

# Editor
.idea
*.swp

# Other
.DS_Store
wandb
output
work_dirs
model_zoo
setup.sh
checkpoints
eva_vit_g.pth
ckpts*
data/*.zip
data/videos
flash-attention
.ipynb_checkpoints
*.ipynb

# DevContainer
!.devcontainer/*

# Demo
serve_images/
